<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre Argentina</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
	<header class="container-fluid header">
		<div class="row">
			<div class="col-5 col-md-2 top">
				<img src="images/logo-mercado-liebre.svg" alt="">
			</div>
			<div class="col-7 col-md-6 col-lg-5 top">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Buscar productos, marcas y más"
						aria-label="Recipient's username" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="button-addon2"> <i
								class="fas fa-search"></i></button>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-lg-5 comprar">
				<p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
			</div>

			<div class="col-12">
				<a href="#" id="movil" class="col- 12 toggle-nav justify-content-center">
					<i class="fas fa-bars"></i>
				</a>
			</div>

			<div class="container-fluid main-nav">
				<div id="principal" class="row">

					<div class="col-12 col-md-6 menu">
						<ul>
							<li><a href="#">Ofertas</a></li>
							<li><a href="#">Tiendas Oficiales</a></li>
							<li><a href="#">Vender</a></li>
							<li><a href="#">Ayuda</a></li>
						</ul>
					</div>

					<div class="col-sm-12 col-md-6 registro">
						<ul>
							<li><a href="">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
							<li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
							<li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<img class="col-12 banner" src="images/img-home-banner.jpg" alt="">
		</div>
	</div>
	<div class="container-fluid big-container">
		<div class="container busquedas">
			<section class="row">

				<div class="col-12">
					<h1>Basado en tu última visita</h1>
				</div>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-cafetera-moulinex.jpg"
							alt="Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$6.770</h3>
							<span>40% OFF</span>
							<p class="col-12 mas-info"> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019 Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$150.970</h3>
							<span>10% OFF</span>
							<p class="col-12 mas-info"> Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-tv-samsung-smart.jpg"
							alt="Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$54.230</h3>
							<p class="col-12 mas-info"> Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-samsung-galaxy-s10.jpg"
							alt="Samsung Galaxy s10 Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$89.410</h3>
							<span>20% OFF</span>
							<p class="col-12 mas-info">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>
			</section>

		</div>


		<div class="container ofertas">

			<section class="row">

				<div class="col-12">
					<h1 class="off">Ofertas</h1>
				</div>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-cafetera-moulinex.jpg"
							alt="Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$6.770</h3>
							<span>40% OFF</span>
							<p class="col-12 mas-info"> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019 Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$150.970</h3>
							<span>10% OFF</span>
							<p class="col-12 mas-info"> Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-tv-samsung-smart.jpg"
							alt="Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<span>$54.230</span>
							<p class="col-12 mas-info"> Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
					<div class="art-container">
						<img src="images/img-samsung-galaxy-s10.jpg"
							alt="Samsung Galaxy s10 Lorem ipsum, dolor sit amet.">
						<div class="info">
							<i class="fas fa-truck"></i>
							<h3>$89.410</h3>
							<span>20% OFF</span>
							<p class="col-12 mas-info"> Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
						</div>
					</div>
				</article>

			</section>
		</div>
	</div>

	<footer class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<i class="fas fa-credit-card"></i>
				<h3>Pagá con tarjeta o en efectivo</h3>
				<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
					siempre es seguro!</p>
			</div>

			<div class="col-12 col-lg-4">
				<i class="fas fa-gift"></i>
				<h3>Envío gratis desde $ 1.999</h3>
				<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
					beneficio de Mercado Puntos.</p>
			</div>

			<div class="col-12 col-lg-4">
				<i class="fas fa-user-shield"></i>
				<h3>Seguridad, de principio a fin</h3>
				<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
					protegido.</p>
			</div>

			<div id="copy" class="col-12">
				<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
			</div>
	</footer>


	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/jquery-3.5.1.min.js"></script>
	<script src="javascripts/main.js"></script>
</body>

</html>