<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en la registración</title>
</head>
<body>
    <h1>El email que usted intenta registrar corresponde a un usuario ya creado</h1>
</body>
</html>