* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-image: url("../images/bg-body.png");
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-bottom: 2em;
}

header {
    overflow: hidden;
}

header img {
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: 30px auto 30px;
}

.toggle-nav {
    display: block;
    text-align: center;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
}

.fa-bars {
    background-color: #444444;
    padding: 15px;
}

.main-nav ul {
    padding-left: 0px;
    text-align: center;
    margin: 0 5px 20px;
}

.main-nav li {
    list-style: none;
    background-color: #444444;
    padding: 5px;
    margin-top: 2px;
}

.banner {
    display: none;
}

.vip-products {
    margin: 0px 5px;
    overflow: hidden;
}

.product {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 0.5em;
    overflow: hidden;
}

.photo-container {
    position:relative;
    overflow: hidden;
    width: 100%;
}

.photo {
    position: relative;
    width: 100%;
}

.special{
    position: absolute;
    top: 0px;
    right: 10px;
    width: 20%;
}

.zoom {
    position: absolute;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.6em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    display: block;
    width: 100%;
}

.more {
    background: #444444;
    padding: 0.5em;
    margin-top: 2em;
}

h2, p {
    position: relative;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0 5px 15px;
}

footer li {
    background-color: #C81513;;
    text-align: center;
    padding: 5px;
    margin-top: 2px;
}

@media (max-width: 425px){
.main-nav {
    display: none;
}
}

/* Estilos tablet */


@media (min-width: 426px) {

    #movil {
        display: none;
    }

    #principal li{
        width: 16.15%;
        display: inline-block;
        padding: 0 1em;
    }

    .banner {
        display: block;
        margin: 0 5px 30px;
    }

    .banner img {
        width: 100%;
    }

    .container{
        margin: 0 15px;
    }
}

    @media (min-width: 426px) and (max-width: 1023px){

    .product {
        float:left;
        width: 49%;
    }

    .product:nth-child(even){
        margin-left: 2%;
    }
    
}

/* Desktop */

@media (min-width: 1024px) {
    
    .container{
        /* width: 1180px; */
        margin: 0 5% 3%;
    }
    
    #principal li{
        width: 16.32%;
        padding: 1em;
    }

    .product{
            width: 32.66%;
            float: left;
        }

    .product:nth-child(3n+2){
        margin: 0 1%;
} 
    .main-footer {
        background-color: #C81513;
        text-align: center;
        padding: 30px;
        border-radius: 30px 30px 0 0;
    }

    .main-footer li{
        display: inline-block;

    }
    .main-footer li + li:before {
        content: ' | ';
        padding: 0 5px;
        color: white;
        font-size: 2em;
    }
}

