<header>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="">
      </a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="/movies/">Películas</a>
        </li>
        <li>
          <a href="/movies/new">Recientes</a>
        </li>
        <li>
          <a href="/movies/recommended">Recomendadas</a>
        </li>
      </ul>
    </div>
  </header>