<header class="container-fluid header">
    <div class="row">
        <div class="col-5 col-md-2 top">
            <a href="">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </a>
        </div>
        <div class="col-7 col-md-6 col-lg-5 top">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar productos, marcas y más"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <i
                            class="fas fa-search"></i></button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 comprar">
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <div class="col-12">
            <a href="#" id="movil" class="col- 12 toggle-nav justify-content-center">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div class="container-fluid main-nav">
            <div id="principal" class="row">

                <div class="col-12 col-md-6 menu">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 registro">
                    <ul>
                        <li><a href="">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                        <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</header>