* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.botones {
    position: absolute;
    width: 99%;
    padding: 18px;
    margin-top: 40px;
    margin-right: 0px;
    padding-right: 3px;
    text-align: right;
}

#menu {
    float: left;
    width: 45%;
    padding: 0;
    padding-top: 5px;
    height: 100px;
}

.redes {
    margin-left: 50px;
    position: absolute;
    right: 16px;
    margin-top: 110px;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 118, 118);
    font-size: 13pt;
    font-weight: bold;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.nombre {
    margin-top: 290px;
    margin-left: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    line-height: 5px;
    font-weight: bold;
    letter-spacing: 0px;
}

.nombre p {
    margin-left: 5px;
    display: inline;
}

.nombre p:nth-child(2) {
    font-style: italic;
    font-size: 65px;
}

h2 {
    text-align: left;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#mapa {
    height: 440px;
    width: 98.5%;
    margin-top: 340px;
    margin-left: 10px;
}

.ubicacion {
    margin-top: 80px;
}

.contact {
    margin-top: 530px;
}

.info {
    margin-top: 25px;
    margin-left: 12px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 158, 139);
    margin-bottom: 30px;
}

.info p {
    line-height: 8px;
    font-weight: bold;
}