* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
}

#menu {
    float: left;
    width: 25%;
    padding: 0;
    padding-top: 5px;
}

#imagen {
    float: left;
    width: 75%;
    height: 694px;
    background-image: url('../img/emilia-home.jpg');
    background-size: cover;
    background-position: bottom;
}

ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 10pt;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.redes {
    margin-left: 50px;
}

.nombre {
    margin-top: 150px;
    margin-left: 45px;
}

p {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 5px;
    font-size: 32px;
    line-height: 5px;
}

#titulo {
    position: absolute;
    margin-top: 510px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 99%;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

h1 {
    margin: 0;
}