<!DOCTYPE html>
<html>
  <head>
    <title>DH heroes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>DH HEROES</h1>
      <label for="btn-menu"><i class="fas fa-bars"></i></label>
      <nav>
        <ul>
          <li><a href="/">Volver</a></li>
        </ul>
      </nav>
    </header><br><br>
    
    <%= creditos %> <br><br>

  </body>
</html>