<!DOCTYPE html>
<html>
  <head>
    <title>DH heroes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DH HEROES</h1>
    <img src="../public/images/heroes.jpg" alt="">
    <p><%= title %></p>
    <label for="btn-menu"><i class="fas fa-bars"></i></label>
    <nav>
        <ul>
            <li><div>
              <a href="/heroes">Heroes</a>
            </div></li>
            <li><div>
              <a href="/heroes/detalle">Detalle</a>
            </div></li>
            <li><div>
              <a href="/heroes/bio">Biografías</a>
            </div></li>
            <li><div>
              <a href="/creditos">Creditos</a>
            </div></li>
        </ul>
    </nav>
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><footer>Página creada por Matías Campoy</footer>
</html>
