<!DOCTYPE html>
<html>
  <head>
    <title>Nefli</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header')  %>


    <button class="ingresar" onclick="window.location='/movies/'""> <p>Ingresar</p> </button>
  </body>
</html>
