* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
}

li,
a {
  list-style: none;
  text-decoration: none !important;
  color: black !important;
}

header {
  background-color: #EAC926;
}

.top {
  margin-top: 20px;
}

.top img {
  margin-top: 3px;
}

.comprar p {
  font-size: 1.15em;
  padding-top: 20px;
}

.toggle-nav {
  display: flex;
}

.toggle-nav i {
  background-color: #03264C;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.main-nav ul {
  padding-left: 0px;
  margin: 0 5px 20px;
}

.main-nav li {
  list-style: none;
  padding: 5px;
}

.banner {
  padding: 0;
  width: 100%;
}

.big-container {
  background-color: #ebebeb;
}

h1 {
  color: #666666;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

section {
  background-color: #ebebeb;
  margin-bottom: 0;
}

.off {
  margin: 0 0 1.5em 0px;
  padding: 0;
}

article {
  margin-bottom: 50px;
  position: relative;
}

.art-container {
  padding: 0;
  border-radius: 10px 10px 10px 10px;
}

article a {
  color: #666666 !important;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
}

.truck {
  height: 35px;
  color: #39b54a;
  border: 1.5px solid #39b54a;
  background-color: white;
  border-radius: 100%;
  font-size: 100%;
  padding: 0.4em;
  position: absolute;
  right: 3%;
  top: 100%;
  z-index: 999;
}

.info {
  border-top: 1px solid lightgrey;
  width: 100%;
  margin: 0px;
}


article div {
  background-color: white;
  border-radius: 0 0 10px 10px;
  margin-top: -2px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

}

article h3 {
  display: inline;
  font-size: 1.5em;
  font-weight: 500;
  margin: 10px 5px;
  margin-right: 0px;
  padding-right: 5px;
}

article span {
  display: inline;
  color: #39b54a;
  font-size: 1em;
  font-weight: 500;
  align-items: center;
  padding: 12px 0 0 5px;
}

.mas-info {
  text-align: left;
  color: #666666;
  position: relative;
  font-size: 1em;
  padding: 0px 5px;
  display: none;
}

.ofertas h1 {
  margin-top: 0px;
}

.art-container:hover {
  box-shadow: 0.5px 0.5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.art-container:hover .truck {
  transform: rotate(360deg);
  transition: 1.8s all;
}

.art-container:hover .mas-info {
  display: block;
}

footer {
  margin-top: 50px;
  padding: 0 20px;
  display: block;
  text-align: center;
  background-color: white;
}

footer i {
  color: #1259c3;
  font-size: 2.5em;
}

footer div h3,
p {
  text-align: center;
}

footer h3 {
  font-size: 1.5em;
  font-weight: normal;
  color: #666666;
}

footer div p {
  font-size: 1em;
  color: #666666;
}

#copy p {
  color: #666666;
  font-size: 0.6em;
  padding: 15px;
  margin-top: 1px;
  margin-bottom: 0;
  text-align: left;
  border-top: 1px solid #ebebeb;
  display: block;
}

.mb-3 {
  display: flex;
}

.form-control {
  width: 90%;
  font-size: 1em;
  height: 8vh;
  border-radius: 4px 0 0 4px;
  border: white;
  padding: 5px 8px;
}

.btn-outline-secondary {
  height: 8vh;
  border-radius: 0 4px 4px 0;
  border: white;
  background-color: white;
  padding: 5px 15px;
  border-left: 0.5px solid lightgray;
}

.btn-outline-secondary i {
  color: gray;
}


/* Estilos tablet */


@media(min-width: 427px) {

  .comprar p {
      text-align: right;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 15px;
      font-weight: 500;
  }

  .form-control,
  .btn-outline-secondary {
      height: 10vh;
  }

  .top img {
      padding-left: 15px;
      padding-top: 8px;
      margin-right: 15px;
  }

  #movil {
      display: none;
  }

  #principal {
      display: flex;
      justify-content: space-between;
  }

  .menu ul {
      display: flex;
      font-size: 15px;
  }

  .registro ul {
      display: flex;
      font-size: 15px;
      justify-content: flex-end;
  }

}

/* Estilos laptop */

@media (min-width: 1024px) {

  .header {
      padding: 0px 8%;
  }
  
  .form-control,
  .btn-outline-secondary {
    height: 7vh;
    margin-top: 10px;
  }

  .main-nav {
      margin-top: 20px;
      padding-left: 20px;
  }

  .registro ul {
      padding: 0;
      margin: 0;

  }

  .comprar p {
      padding-right: 0px;
      text-align: right;
      margin-top: 15px;
      font-size: 1em;
  }

}
