<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios registrados</title>
</head>
<body>
    <% for (let user of users) { %> 
    <h1><%= user.nombre %> </h1>
    <% } %> 
</body>
</html>